{% extends 'listing/base.html' %}
{% block title %}Royal Estate - For Sale{% endblock %}
{% block body %}
    {% load static %}
    <div class="hero-wrap" style="background-image: url({% static 'listing/images/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Property</span>
                    </p>
                    <h1 class="mb-3 bread">Property</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                {% for property in properties %}
                    <div class="col-md-4 ftco-animate">
                        <div class="properties">
                            <a href="{% url 'listings:detail' property.id %}"
                               class="img img-2 d-flex justify-content-center align-items-center"
                               style="background-image: url({{ property.photo_main.url }});">
                            </a>
                            <div class="text p-3">
                                {% if property.property_type %}
                                    <span class="status sale">{{ property.get_property_type_display }}</span>
                                {% endif %}
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="{% url 'listings:detail' property.id %}">{{ property.title }}</a>
                                        </h3>
                                    </div>
                                    <div class="two">
                                        <span class="price">{{ property.price }}</span>
                                    </div>
                                </div>
                                {#                                <p>{{ property.description }}</p>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination row mt-3">
                <div class="col text-center">
                <span class="step-links">
                     {% if properties.has_previous %}
                         <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; First</a>
                         <a class="btn btn-outline-info mb-4" href="?page={{ properties.previous_page_number }}">Previous</a>
                     {% endif %}
                    {#                    <span class="current">#}
{#                        Page {{ properties.number }} of {{ properties.paginator.num_pages }}.#}
{#                    </span>#}
                    {% for num in properties.paginator.page_range %}
                        {% if properties.number == num %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > properties.number|add:'-3' and num < properties.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if properties.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ properties.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ properties.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
                </div>
            </div>
            {#            <div class="row mt-5">#}
            {#                <div class="col text-center">#}
            {#                    <div class="block-27">#}
            {#                        <ul>#}
            {#                            <li><a href="#">&lt;</a></li>#}
            {#                            <li class="active"><span>1</span></li>#}
            {#                            <li><a href="#">2</a></li>#}
            {#                            <li><a href="#">3</a></li>#}
            {#                            <li><a href="#">4</a></li>#}
            {#                            <li><a href="#">5</a></li>#}
            {#                            <li><a href="#">&gt;</a></li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </section>
{% endblock %}

